*,*::before,*::after{
  box-sizing: border-box;
}

body{
  color: #999;
  margin: 0;
  padding: 0;
  background: #ccc;
}
.app{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* ======== NAV > MENU > HAMBURGUER BUTTON ========== */
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #333;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 60px;
}
.logo{
  font-size: 2rem;
}
.hamburguer{
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  
  position: fixed;
  right: 10px;
}
.hamburguer:hover{
  background: #444;
}
.hamburguer span, span:before, span:after{
  width: 32px;
  height: 4px;
  display: block;
  background: #999;
  border-radius: 2px;
}
.hamburguer span:before, span:after{
  content: '';
  position: absolute;
}
.hamburguer span:before{
  transform: translateY(10px);
}
.hamburguer span:after{
  transform: translateY(-10px);
}
/* ======== NAV > .MENU > .LIST ========== */
ul.list {
  background: #333;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 60px;
  left: 0;
  display: none;
}
.list.open{
  display: block;
}
.list li:hover{
  background: #444;
}
.list li a{
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px;
  text-align: center;
}
/* ======== MAIN ========== */
main {
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
#canvas{
  width: 100%;
  max-width: 100vh;
}

#home, #mapMaker, #contact, #about{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #999,#333);
}
/* ======== MAIN > MAPMAKER ========== */
img#output {
  width: 100%;
}



















